.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: rgb(145, 63, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid rgb(122, 149, 223);
    margin-bottom: 15x;
}