.title{
    text-align: center;
    font-size: 7rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d090e4, 0 0 40px #d090e4,
      0 0 50px #d090e4, 0 0 60px #d090e4, 0 0 70px #d090e4;      
}

